<% content_for(:title, "광고 계정 수정 - HS Solution") %>
<div class="page-header">
  <h1 class="page-title">광고 계정 수정</h1>
</div>
<div class="card">
  <%= render "form", nad_account: @nad_account %>
</div>
